{{#section 'css'}}
<link rel="stylesheet" href="../stylesheets/admin.css">
{{/section}}
<!-- Page Wrapper -->
<div id="wrapper">

    {{>sidebar}}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Trang Quản lý</h1>

                </div>

            </nav>
            <!-- Begin Page Content -->
            <div class="container-fluid">


                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Danh sách Người dùng muốn trở thành Seller</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Username</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Email</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {{#each this.users}}
                                    <tr>
                                        <td>{{Name}}</td>
                                        <td>{{Username}}</td>
                                        <td>{{Address}}</td>
                                        <td>{{Phone}}</td>
                                        <td>{{Email}}</td>
                                        <td class="text-center"> <a href="/admin/{{Username}}/accept"><i
                                                    class="fas fa-fw fa-check"></i></a>
                                        </td>
                                        <td class="text-center"> <a href="/admin/{{Username}}/delete"><i
                                                    class="fas fa-fw fa-trash"></i></a>
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->
                {{>footeradmin}}

    </div>
</div>