{{>header}}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Trang chủ/ Giỏ hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                
                <table id="cart" class="table table-hover table-condensed">
                    <thead>
                        <tr>
                            <th style="width:40%">Product</th>
                            <th style="width:10%">Price</th>
                            <th style="width:15%" class="text-center">Seller</th>
                            <th style="width:10%">Score</th>
                            <th style="width:25%">Shipping</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each cart}}
                        <tr>
                            <td data-th="Product">
                                <div class="row">
                                    <div class="col-sm-2 hidden-xs"><img src="/images/product/{{ProductID}}/main.jpg"
                                            class="img-responsive" /></div>
                                    <div class="col-sm-10">
                                        <h4 class="nomargin">{{Name}}</h4>
                                        <p>{{Description}}</p>
                                    </div>
                                </div>
                            </td>
                            <td data-th="Price">{{Numberformat Price}}VND</td>
                            
                            <td data-th="Seller" class="text-center">{{Seller}}</td>
                            <td data-th="Score" class="text-center">{{Score}}</td>
                            <td>
                                <div class="shipping_box">
                                    <ul class="list">
                                        <li>
                                            Free Shipping
                                            <input type="radio" aria-label="Radio button for following text input">
                                        </li>
                                        <li>
                                            Bưu điện: 40.000 VND
                                            <input type="radio" aria-label="Radio button for following text input">
                                        </li>
                                        <li class="active">
                                            Chuyển phát nhanh: 35.000 VND
                                            <input type="radio" aria-label="Radio button for following text input">
                                        </li>
                                    </ul>
                                    <input class="post_code" type="text" placeholder="Mã bưu điện" />
                                </div>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                    {{!-- <tfoot>
                        <tr class="visible-xs">
                            <td class="text-center"><strong>Total 1.99</strong></td>
                        </tr>
                        <tr>
                            <td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue
                                    Shopping</a></td>
                            <td colspan="2" class="hidden-xs"></td>
                            <td class="hidden-xs text-center"><strong>Total $1.99</strong></td>
                            <td><a href="#" class="btn btn-success btn-block">Checkout <i
                                        class="fa fa-angle-right"></i></a></td>
                        </tr>
                    </tfoot> --}}
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1 checkout_btn_1" href="#">Thanh toán</a>
                </div>
            </div>
        </div>
</section>

{{footer}}