{{>header}}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <p>Trang chủ/ Giỏ hàng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- breadcrumb start-->
<!--================Cart Area =================-->
<section class="cart_area section_padding">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Sản phẩm</th>
                            <th scope="col">Giá</th>
                            <th scope="col">Tổng</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each this.cart}}
                        <tr>
                            <td>
                                <div class="media">
                                    <div class="d-flex">
                                        <img src="{{IMG}}" alt="" />
                                    </div>
                                    <div class="media-body">
                                        <p>{{Name}}</p>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <h5>{{Price}} VND</h5>
                            </td>
                            <td>
                                <h5>{{Price}} VNĐ</h5>
                            </td>
                        </tr>
                        {{/each}}
                        <tr class="shipping_area">
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Shipping</h5>
                            </td>
                            <td>
                                <div class="shipping_box">
                                    <ul class="list">
                                        <li>
                                            Free Shipping
                                            <input type="radio" aria-label="Radio button for following text input">
                                        </li>
                                        <li>
                                            Bưu điện: 40.000 VND
                                            <input type="radio" aria-label="Radio button for following text input">
                                        </li>
                                        <li class="active">
                                            Chuyển phát nhanh: 35.000 VND
                                            <input type="radio" aria-label="Radio button for following text input">
                                        </li>
                                    </ul>
                                    <input class="post_code" type="text" placeholder="Mã bưu điện" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <h5>Tổng tiền</h5>
                            </td>
                            <td>
                                <h5>{{totalBill}} VND</h5>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="checkout_btn_inner float-right">
                    <a class="btn_1 checkout_btn_1" href="#">Thanh toán</a>
                </div>
            </div>
        </div>
</section>

{{footer}}