<div class="col-lg-4 col-sm-6 mt-10" style="display: bvlock;">
    <a class="h-100" href="/detail/{{ProductID}}">
        <div class="card m-auto h-100" style="width: 17rem; background-color: transparent;">
            <img width="300" height="340" class="card-img-top" src="/images/arrivel/{{IMG}}.png" alt="">
            <div class="card-body">
                <h5 class="card-title text-center">{{Name}}</h5>
                <p class="card-text">
                    <p>Giá hiện tại: {{Numberformat Price}} VND</p>
                    <p>Số lượt ra giá: {{AuctionTime}}</p>
                    {{#if PlaceHolder}}
                    <p>Người giữ giá: {{PlaceHolder}}</p>
                    {{/if}}
                    {{#if InstancePrice}}
                    <p>Giá mua ngay: {{Numberformat InstancePrice}} VND</p>
                    {{/if}}
                    <p>Ngày đăng: {{DateTimeFormat StartTime}}</p>
                    <p>{{EndTimeFormat EndTime}}</p>
                </p>
            </div>
    </a>
    <a class="favoriteBtn mt-0 card-footer text-center" href="/wishlist/{{ProductID}}">
        {{#if isFavorite}}
        <i class="fa fa-heart" style="color: red;"></i>
        {{else}}
        <i class="far fa-heart" style="color: red;"></i>
        {{/if}}
        <span class="text-danger"> Yêu thích</span>
    </a>
</div>
</div>